{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="FertilizerRecommendation.html">Fertilizer</a></li>
<li><a href="PesticideRecommendation.html" class="active">Pesticide</a></li>
<li><a href="{{ url_for('adminIndex') }}">Logout</a></li>
{% endblock %}

{% block body %}
<h2 style="text-align: center; margin: 0px; color: black">
  <br>
  <b>File format is not appropriate. Kindly upload image file.</b>
</h2>
<br />

<!--Footer Section-->
<footer>
  <div class="footer-content">

    <h3 class="top-content">
      Crop<span>Advisors</span>
    </h3>
    <p class="paragraph">
      CropAdvisors is a platform which recommends the best Crop to grow, Fertilizers to use, as well as Pesticides based on you provided data.
    </p>

    <div>
      <h2 class="below-p">Any Queries ?</h2>

     <button class="contact-us">Contact Us</button>
    </div>
    <br>

    <div class="footer-bottom">
      <p>Copyright &copy; 2023 CropAdvisors</p>
    </div>
  </div>
</footer>


{% endblock %}